<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>{{book.titleBook}}</title>
    <link rel="stylesheet" href="book-select.component.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": ""}
    </script>



    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
  </head>
  <body class="u-body" style="overflow: hidden; margin-bottom: 5rem;">
    <section class="u-align-center u-clearfix u-section-1" id="sec-8c71">
      <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <p class="u-align-center u-text u-text-1" style="text-transform: uppercase;word-wrap:break-word;">{{book.titleBook}}</p>
        <div *ngIf="!user; else buttonEdit"></div>
        <ng-template #buttonEdit>
          <button id="buttonEdit" type="button" *ngIf="user.rol == 'admin'" (click)="obtenerData(book)">Editar o eliminar</button>
        </ng-template>  
        <br>  
        <img style="border-radius: 6px; cursor: pointer; width: 5cm;" data-image-width="2000" data-image-height="1333" *ngIf="book.cover" id="cover" src="{{uri+'getImage/'+book.cover}}" alt="Portada">
        <img style="border-radius: 6px; cursor: pointer; width: 5cm;"  data-image-width="2000" data-image-height="1333" *ngIf="book.cover == '' || book.cover == undefined" id="cover" src="../../../assets/img/Libros.png" alt="No hay portada" >        

        <div class="form-row">

          <div class="form-group col-md-6">
              <b for="inputTitle">Titulo</b>
              <br>
              <label>{{book.titleBook}}</label>
          </div>


          <div class="form-group col-md-6">
            <b for="inputTitle">Autor</b>
            <br>
            <label>{{book.authorBook}}</label>
        </div>

      </div>


      <div class="form-group col-md-6 text-center">
        <b for="inputTitle">Descripción</b>
        <br>
        <label>{{book.descriptionBook}}</label>
      </div>

      <div class="form-group col-md-6">
        <b for="inputTitle">Tema</b>
        <br>
        <label>{{book.themesBook}}</label>
      </div>

      
    <div class="form-row">
      <div class="form-group col-md-6">
        <b for="inputTitle">Copias</b>
        <br>
        <label>{{book.copiesBooks}}</label>
      </div>

        <div class="form-group col-md-6">
          <b for="inputTitle">Disponibles</b>
          <br>
          <label>{{book.avaliblesBooks}}</label>
        </div>
    </div>

    <br>
    <br>

      <button id="buttonEdit" type="button" *ngIf="book.avaliblesBooks != 0" (click)="createBookLoan()">Rentar</button>

        
    
            