
table {
    width: 600px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}

h1{ 
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-left: 60px;
}

th{    
    text-align: center;
    width: auto;
    border-bottom: 1px solid #0380A8 !important;
    border-collapse:collapse;
}

td,th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;   
    border-collapse: collapse;
    border-right: 2px dashed #ADE8F4;
}

td{
    text-align: center;
    border-bottom: 1px dotted #ADE8F4;
}

.moreOptions{
    text-decoration: none;
    background: #bde5ec;
    color: rgb(30, 33, 34);
    font-size: 18px;    
    padding: 4px 8px 4px 8px;
    text-align: justify;
}

h2{ 
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

#buttonEdit{
    background-color: #FFBD44 !important;
    color: #ffffff;
    font-weight: bold;
    border: none;
}